/* RESOURCES: */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Mastering_Wrapping_of_Flex_Items */
/* https://stackoverflow.com/questions/52417889/setting-minimum-and-maximum-number-of-columns-using-css-grid */

#container {
  /* height: 1000px;
  background-color: red; */
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.storeItems {
  box-sizing: border-box;
  width: 100%;
  /* height: calc(100vh - 65px); */
  height: 100%;
  /* height: calc(200vh); */
  /* height: calc(90vh - 65px); */
  /* padding: 50px 75px 0 75px; */
  padding: 20px 75px 0 60px;
  /* padding-top: 80px; */
  /* background-color: #eeeeee; */
  background-color: rgb(240, 240, 240);
  /* overflow: scroll; */
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill,minmax(250px, 350px)); */
  /* grid-template-rows: repeat(auto-fill,minmax(350px, 350px)); */
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.store-items > * {
  flex: 0 0 25%;
}

.options {
  /* max-height: 10px; */
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 3px;
  /* justify-items: center; */
  justify-content: center;
  /* align-content: center; */
  width: 30vw;
}

.label {
  /* font-weight: 300; */
  margin-right: 10px;
}

.select {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  /* background-color: #f0f0f0; */
  color: #fff6f4;
  color: #333;
  border: none;
  outline: none;
  padding-right: 65px;
  /* height: 15px; */
}

.select:hover {
  background-color: #e0e0e0;
}
