.storeItem {
  width: 100%;
  height: fit-content;
  margin-bottom: 20px;
  text-justify: initial;
  cursor: pointer;
  max-width: 230px;
  max-height: 481px;
  border: 0.1px solid rgb(197, 197, 197);
  padding: 5px;
}

.storeItem:hover {
  /* background-color: black; */
}

.pwrapper {
  max-height: 200px;
  overflow-y: scroll;
}

.storeItem > div > p {
  color: #118259;
  margin: 0;
  /* overflow-wrap: break-word; */
}

.imageWrapper {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  z-index: 0;
}

.img {
  display: block;
  width: 230px;
  height: 230px;
  border-radius: 4px;
  /* background-color: #c4ddd4; */
}

#imageText {
  /* background-color: #f1f1f1; */
  border-radius: 9px;
  /* padding-left: 5px;
  padding-right: 5px; */
  /* display: flex;
  justify-content: center;
  width: 30%; */
  /* padding-left: 10px;
  padding-right: 10px; */
  padding: 5px;
  color: #ffffff;
  position: absolute;
  /* bottom: 0px; */
  left: 4px;
  top: 4px;
  /* color: #118259; */
  margin: 0;
  font-size: 10px;
  /* color: aliceblue; */
  background-color: rgb(70, 95, 255);
}

.img {
  display: block;

  /* width: 300px;
  height: 300px; */
  width: 230px;
  height: 230px;

  border-radius: 4px;
  background-color: #c4ddd4;
}

p {
  /* margin-top: 100px; */
  padding-bottom: 5px;
  font-size: 15px;
}
