.storeItem {
  width: 100%;
  height: fit-content;
  /* margin-bottom: 20px; */
  text-justify: initial;
  cursor: pointer;
  width: 180px;
  /* max-height: 481px; */
  height: 280px;
  /* border: 0.1px solid #118259; */
  /* padding: 5px; */
  box-shadow: rgba(93, 93, 93, 0.18) 0px 3px 8px;
  /* border-radius: 0 0 15px 15px; */
  border-radius: 15px 15px 15px 15px;
  padding: 10px;
  /* margin-top: 0; */
  justify-content: center;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-content: center; */
}

#price {
  /* color: rgb(228, 73, 73); */
  font-weight: 700;
  font-size: 18px;
}

.storeItem:hover {
  /* background-color: black; */
  /* transform: translate(0, -0.4rem); */
  /* box-shadow: 0 -10px 26px -5px rgb(220, 249, 243); */
  /* transform: scale(1.01); */
  box-shadow: rgba(8, 8, 8, 0.298) 0px 3px 8px;
}

.pwrapper {
  max-height: 200px;
  overflow-y: scroll;
}

.storeItem > div > p {
  /* color: #118259; */
  color: #000000;
  margin: 0;
  /* overflow-wrap: break-word; */
}

.imageWrapper {
  /* position: relative;
  display: flex; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.img {
  display: block;
  /* position: relative; */
  /* /* display: flex; */
  /* width: 260px;
  height: 260px; */
  border-radius: 5px;
  /* background-color: #c4ddd4; */
}

#imageText {
  /* background-color: #f1f1f1; */
  border-radius: 9px;
  /* align-self: baseline; */
  /* padding-left: 5px;
  padding-right: 5px; */
  /* display: flex;
  justify-content: center;
  width: 30%; */
  /* padding-left: 10px;
  padding-right: 10px; */
  /* position: relative;
  left: 0;
  top: 3px; */
  padding: 5px;
  color: #ffffff;
  position: absolute;
  top: 2px;
  left: 1px;
  /* align-self: flex-start; */
  /* margin-left: 30px; */
  /* bottom: 0px; */
  /* left: 4px; */
  /* top: 4px; */
  /* color: #118259; */
  margin: 0;
  font-size: 10px;
  /* color: aliceblue; */
  background-color: rgb(70, 95, 255);
}

.img {
  /* display: block; */

  /* width: 300px;
  height: 300px; */
  /* width: 230px;
  height: 230px; */
  /* width: 230px;
  height: 230px; */
  width: 170px;
  height: 170px;

  border-radius: 4px;
  background-color: #c4ddd4;
}

p {
  /* margin-top: 100px; */
  /* padding-bottom: 5px; */
  font-size: 15px;
}
