.container {
  /* flex-direction: column; */
  display: flex;
  flex-direction: column;
  /* max-height: 224.52px; */
  align-items: center;
  color: #118259;
  width: 100%;
  /* min-width: 100px; */
  box-sizing: border-box;
  /* position: relative; */
}

.itemInfo {
  position: relative;
  /* max-height: 100.52px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /* padding-right: 20px; */

  width: 30%;
}

.img {
  height: 100px;
  width: 100px;
  min-width: 100px;
  /* max-height: 50px; */
  margin: 15px;

  border-radius: 4px;

  background-color: #7daf9d;
}

.right {
  display: flex;
  justify-content: space-between;
  width: 70px;
}

.increase,
.decrease {
  /* font-size: 20px; */
  cursor: pointer;
}

.delete {
  rotate: 45deg;
  align-self: flex-start;
  /* justify-self: flex-start; */
  cursor: pointer;
  font-size: 30px;
  color: rgb(255, 54, 54);
  /* position: absolute; */
  /* right: 0; */
  /* bottom: 0; */
}
