.navbarContainerSticky {
  /* display: sticky; */
  /* padding-top: 5px; */
  position: fixed;
  width: 100vw;
  /* height: 100px; */
  /* color: #116a7b; */
  height: 70px;
  /* background-color: #eeeeee; */
  /* color: rgb(240, 240, 240); */
  border-bottom: 1px solid #118259;
  z-index: 100;
  /* background-color: #525fe1; */
  background-color: #c2dedc;
  background-color: #acbcff;
  background-color: #f5f5f5;
  background-color: #c2dedc;
  background-color: #f5efe7;
  background-color: #4f709c;
  background-color: #d8c4b6;
  background-color: #bad7e9;
  background-color: #cddeff;
  background-color: #068da9;
  background-color: #4942e4;
  background-color: #5249f3;
  background-color: #2b3467;
}

.navbarLeft {
  display: flex;
  align-items: center;
  height: 65px;
  margin: 0 0 0 30px;
  margin-right: 10px;
  /* color: #118259; */
  /* color: #ffa41b; */
  color: #116a7b;
  color: #ece5c7;
  color: #fff6f4;

  cursor: pointer;
}

.navbarContainerBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.navbarLeft:hover {
  color: #18b47a;
  color: #adddd0;
}

.navbarCenter {
  display: flex;
  align-items: center;
  /* margin-top: 45px; */

  height: 25px;
  width: 60%;
  max-width: 600px;
  margin: 0;

  outline: none;
  border-radius: 4px;
  color: #118259;
  background-color: #c4ddd4;
}

.navbarCenter:focus,
.navbarCenter:hover {
  border: 1px solid #118259;
}

.navbarRight {
  /* margin-top: 5px; */
  display: flex;
  align-items: center;

  height: 65px;
  max-width: 318.96px;

  margin-right: 30px;
}

.cartItems {
  color: #118259;
  /* width: 30px; */
  min-width: 30px;
  height: 30px;
  border-radius: 4px;
  border: 2px solid #118259;
  /* background-color: #eeeeee; */
  background-color: rgb(240, 240, 240);

  margin-left: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.cartItemsIcon {
  margin-left: 10px;
  min-width: 44px;
  cursor: pointer;
}

.cartItems:hover {
  transform: scale(1.03);
}

.cartItemsIcon:hover {
  transform: scale(1.06);
}

.userThumbnail {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #c4ddd4;

  margin-left: 10px;

  cursor: pointer;
}

.button {
  background-color: #118259;
  padding-bottom: 12px;
  /* padding-bottom: 8px; */
}

.img {
  width: 100px;
  height: 100px;
}

.avatarAndName {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  /* justify-content: space-between; */
  /* align-content: space-between; */
  /* align-content: center; */
}

.userThumbnail:hover {
  transform: scale(1.03);
}

.username {
  /* padding-top: 30px; */
  padding-left: 5px;
  /* margin-right: 30px; */
  color: #118259;
  max-width: 137.39px;
  word-wrap: break-word;
  /* font-size: 12px; */
}
