.navbarContainerSticky {
  /* display: sticky; */
  /* padding-top: 5px; */
  position: fixed;
  width: 100vw;
  /* height: 100px; */
  /* color: #116a7b; */
  height: 65px;
  /* background-color: #eeeeee; */
  /* color: rgb(240, 240, 240); */
  /* border-bottom: 1px solid #118259; */
  /* border-bottom: 1px solid #fff6f4; */
  z-index: 100;
  /* background-color: #525fe1; */
  background-color: #c2dedc;
  background-color: #acbcff;
  background-color: #f5f5f5;
  background-color: #c2dedc;
  background-color: #f5efe7;
  background-color: #4f709c;
  background-color: #d8c4b6;
  background-color: #bad7e9;
  background-color: #cddeff;
  background-color: #068da9;
  background-color: #4942e4;
  background-color: #5249f3;
  background-color: #2b3467;
  background-color: #2b5967;
}

.navbarLeft {
  display: flex;
  align-items: center;
  height: 65px;
  margin: 0 0 0 30px;
  margin-right: 10px;
  /* color: #118259; */
  /* color: #ffa41b; */
  color: #116a7b;
  color: #ece5c7;
  color: #fff6f4;
  color: rgb(240, 240, 240);

  cursor: pointer;
}

.navbarContainerBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 5px; */
  /* margin-top: 0; */
}

.navbarLeft:hover {
  color: #18b47a;
  color: #adddd0;
}

#navCenterWrapper {
  /* display: flex;
  align-items: center; */
  height: 25px;
  /* height: 150%; */
  height: 40px;
  width: 40%;
  display: flex;
  justify-content: center;
  margin-right: 3px;
  align-items: center;
}

#navCenterWrapper:hover {
  border: 1px solid white;
}

.navbarCenter {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  /* justify-items: flex-start; */
  /* margin-top: 45px; */
  margin-bottom: 3px;
  height: 90%;
  max-height: 90%;
  width: 99%;
  max-width: 99%;
  /* max-width: 600px; */
  margin: 0;

  outline: none;
  border-radius: 4px;
  /* color: #118259; */
  color: #000000;
  /* color: #adddd0; */
  /* color: #fff6f4; */
  /* background-color: #c4ddd4; */
  /* background-color: #fff6f4; */
  background-color: rgb(240, 240, 240);
  /* background-color: red; */
}

.navbarCenter:focus,
.navbarCenter:hover {
  /* border: 1px solid #118259; */
  /* border: 1px solid #00b371; */
  /* border: 1px solid #161b1a; */
  /* transform: scale(1.01); */
  /* border: 0.5px solid black; */
}

.navbarRight {
  /* margin-top: 5px; */
  display: flex;
  align-items: center;

  height: 65px;
  max-width: 318.96px;

  margin-right: 30px;
  /* margin-right: 10px;
  margin-right: 5px;  */
  justify-content: space-between;
  align-content: space-between;
}

.cartItems {
  color: #118259;
  color: black;
  color: 2b5967;
  /* width: 30px; */
  width: 30px;
  /* min-width: 35px; */
  height: 30px;
  /* height: 35px; */
  border-radius: 4px;
  /* border: 2px solid #118259; */
  border: 2px solid #fff6f4;
  /* background-color: #eeeeee; */
  background-color: #fff6f4;
  background-color: rgb(240, 240, 240);

  margin-left: 4px;
  margin-right: 4px;
  /* margin-right: 3px; */
  margin-bottom: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  margin-top: 4px;
}

.cartItemsIcon {
  /* margin-left: 10px; */
  margin-left: 4px;
  margin-right: 4px;
  /* margin-right: 3px; */
  min-width: 44px;
  cursor: pointer;
  margin-bottom: 5px;
}

.cartItemsIcon:hover {
  /* border: 1px solid #adddd0; */
}

.cartItems:hover {
  transform: scale(1.03);
}

.cartItemsIcon:hover {
  transform: scale(1.06);
}

.userThumbnail {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #c4ddd4;
  border: 1px solid black;
  border: 1px solid white;
  /* margin-left: 10px; */
  margin-left: 4px;
  /* margin-right: 3px; */

  cursor: pointer;
  margin-bottom: 5px;
}

.button {
  background-color: #118259;
  background-color: #c4ddd4;
  /* background-color: #fff6f4; */
  /* padding-bottom: 12px; */
  /* padding-bottom: 8px; */
}

.img {
  width: 100px;
  height: 100px;
}

.avatarAndName {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  /* justify-content: space-between; */
  /* align-content: space-between; */
  /* align-content: center; */
}

.userThumbnail:hover {
  transform: scale(1.03);
  /* border: 1px solid #adddd0; */
}

.username {
  /* padding-top: 30px; */
  padding-left: 5px;
  /* margin-right: 30px; */
  /* color: #118259; */
  color: #fff6f4;
  /* color: #adddd0; */
  max-width: 137.39px;
  word-wrap: break-word;
  /* font-size: 12px; */
  /* margin-top: 3px; */
}

h4 {
  font-size: 13px;
}
